<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand d-fkex align-items-center gap-2 " href="index.html">
            <img src="assets/barcelona.jpg" alt="Logo FCB" width="40" class="me-2">
            FC Barcelona
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link " href="index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link " href="historia.html">Historia</a></li>
                <li class="nav-item"><a class="nav-link " href="players.html">Plantilla</a></li>
                <li class="nav-item"><a class="nav-link " href="season.html">Partidos</a></li>
                <li class="nav-item"><a class="nav-link " href="stadium.html">Estadio</a></li>
            </ul>
        </div>
    </div>
</nav>