<footer class="bg-fcb-dark">
    <div class="container text-center">
        <div class="mb-3">
            <img src="assets/barcelona.jpg" 
                 alt="Logo FC Barcelona" 
                 width="70" 
                 class="img-fluid">
        </div>

        <div class="mb-3">
            <a href="https://www.facebook.com/fcbarcelona" class="text-fcb-white mx-2 fs-4"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/fcbarcelona/" class="text-fcb-white mx-2 fs-4"><i class="bi bi-instagram"></i></a>
            <a href="https://www.tiktok.com/@fcbarcelona" class="text-fcb-white mx-2 fs-4"><i class="bi bi-tiktok"></i></a>
            <a href="https://x.com/FCBarcelona" class="text-fcb-white mx-2 fs-4"><i class="bi bi-twitter-x"></i></a>
        </div>

        <p class="text-fcb-white m-0">© 2026 FC Barcelona. Página no oficial.</p>
    </div>
</footer>